* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #10f40b;
  width: 100%;
}

#php {
  top: 0;
}

#php p {
  margin-bottom: 1.5vh;
}

#spel {
  height: 700px;
  margin-top: 2vh;
  padding-top: 2vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#meny {
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #4b692f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrap, #wrap2 {
  margin: 3vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5vh;
}

#craftbutton {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 5vh;
}

#admin {
  position: relative;
  left: 0;
}

#user_info, #user_edit, #user_actions {
  width: 25vh;
  padding-left: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user {
  margin-top: 1vh;
  padding: 2vh 5vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-top: -5px;
}

#a1
{
  background-color: #4b692f;
}

#a2
{
  background-color: #696b6a;
}

#a3
{
  background-color: #3f3f74;
}

#a4
{
  background-color: #eec39a;
}