*
{
    margin: 0;
    padding: 0;
}
input
{
    background-color: #f6f2f2;
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
}
input:hover
{
    background-color: #a6a2a2;
}
h1
{
    background-color:#f6f2f2; 
    padding: 5px; 
    border-radius: 5px;
    width: 100px;
}
.debug
{
    margin: 2px;
    background-color:white; 
    padding: 5px; 
    border-radius: 5px;
    width: 150px;
}
#game
{
        margin: 10px;
}