$Main_color: gray;
$Secondary_color: #f6f2f2;
$Text_color: darken(gray,20%);
$Button_color: darken(lightblue,20%);
@font-face { font-family: ARCADECLASSIC; src: url('ARCADECLASSIC.TTF'); }
*
{
    font-family: ARCADECLASSIC; 
    padding: 0;
    margin: 0;
}
body
{
    background-color: #10f40b;
    width: 100%;
    main
    {
        padding: 10px;
        iframe
        {
            position: absolute;
            left: 1vh;
            height: 700px;
            width: 900px;
            z-index:5;
        }
        #game
        {
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: repeat(1fr ,3);
            gap: 20px;
            #spel
            {
                #gfx
                {
                    position: absolute;
                    height: 700px;
                    width: 900px;
                }
                #ui
                {
                    position: absolute;
                    height: 700px;
                    width: 900px;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    justify-content: center;
                    .menu
                    {
                        gap: 10px;
                        padding: 20px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        justify-content: center;
                        background-color: $Secondary_color;
                        h2
                        {
                            font-size: 50px;
                        }
                        li
                        {
                            list-style: none;
                            gap: 5px;
                            display: flex;
                            p
                            {
                                font-size: 30px;
                            }
                            img
                            {
                                width: 40px;
                            }
                        }
                        .submenu
                        {

                        }
                    }
                }
            }
            #craft_meny
            {
                height: 300px;
                border-radius: 10px;
                background-color: $Secondary_color;
                padding: 10px;
                form
                {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 5px;
                    h1
                    {
                        grid-column: 1/3;
                        text-align: center;
                    }
                }
            }

            #chat
            {
                height: 300px;
                border-radius: 10px;
                background-color: $Secondary_color;
                padding: 10px;
                img
                {
                    max-width: 100px;
                    max-height: 100px;
                }
                #messages
                {
                    max-height: 500px;
                }
            }
        }
    }
}

.button
{
    padding: 2px;
    background-color: darken($Secondary_color, 3%);
    border-radius: 5px;
    border: black solid 1px;
}
.button:hover
{
    background-color: darken($Secondary_color, 10%);
    border: black solid 1px;
}

#a1
{
  background-color: #4b692f;
}

#a2
{
  background-color: #696b6a;
}

#a3
{
  background-color: #3f3f74;
}

#a4
{
  background-color: #eec39a;
}